.modal-backdrop {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1050;
}

.modal-contenido {
  background: white;
  width: 90%;
  max-width: 500px;

  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  padding: 1rem;
}
.modal-footer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid #ddd;
}