@import 'bootstrap-icons/font/bootstrap-icons.css';
:root {
  --primary-color: #c6f396;
  --primary-hover: #b7ea82;
  /*113, 243, 94*/

  --sidebar-bg: #e6ebe0;
  --background: #ffffff;

  --text-color: #696e69;
  --border-color: #e6eedc;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Botones */

.btn-app {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #2f3a2f;
  font-weight: 600;
}

.btn-app:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}
