@import 'bootstrap-icons/font/bootstrap-icons.css';
:root {
  --primary-color: #E7CDFF;
  --primary-hover: #C6AFDB;
  /*113, 243, 94*/

  --sidebar-bg: #A18FB3;
  --background: #584E61;

  --text-color: #f6f9f6;
  --border-color: #bf8aed;
}

body {
  margin: 0;
  
  font-family: Arial, Helvetica, sans-serif;
}

/* Botones */

.btn-app {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #2f3a2f;
  font-weight: 600;
}

.btn-app:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}
