<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="text-center mb-4">Registrarse</h3>

          @if (errorMensaje()) {
            <div class="alert alert-danger" role="alert">
              {{ errorMensaje() }}
            </div>
          }

          <form novalidate >
            <div class="mb-3">
              <label class="form-label">Nombre</label>
              <input type="text" class="form-control" [formField]="registrationForm.nombre" />
              @if (registrationForm.nombre().invalid() && registrationForm.nombre().touched()) {
                 <p class="error">Name has validation errors:</p>
                 <ul>
                  @for (error of registrationForm.nombre().errors(); track error) {
                    <li>{{ error.message }}</li>
                  }
                </ul>
              }
            </div>

            <div class="mb-3">
              <label class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" [formField]="registrationForm.email" />
              @if (registrationForm.email().invalid()&& registrationForm.email().touched()) {
                <p class="error">Email has validation errors:</p>
                <ul>
                  @for (error of registrationForm.email().errors(); track error) {
                    <li>{{ error.message }}</li>
                  }
                </ul>
              }
            </div>

            <div class="mb-4">
              <label class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                [formField]="registrationForm.password"
              />
              @if (registrationForm.password().invalid() && registrationForm.password().touched()) {
                <p class="error">Password has validation errors:</p>
                <ul>
                  @for (error of registrationForm.password().errors(); track error) {
                    <li>{{ error.message }}</li>
                  }
                </ul>
              }
            </div>

            <button class="btn btn-success w-100" type="button" (click)="registrar()" [disabled]="enviando()">
              {{ enviando() ? 'Creando cuenta...' : 'Crear cuenta' }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
