.hero {
  min-height: 70vh;
}

.highlight {
  color: #8bc34a;
}

.hero-icon {
  font-size: 12rem;

  color: #c6f396;
}

.feature-card {
  border: none;

  border-radius: 20px;

  transition: transform 0.3s;

  i {
    font-size: 3rem;

    color: #8bc34a;
  }

  &:hover {
    transform: translateY(-8px);
  }
}
//
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
#routineCarousel {
  background-color: #c6f396;
  border-radius: 20px;
}
