.navbar {
  background-color: var(--primary-color) !important;
  height: 64px;
}

.navbar-brand {
  color: #2f3a2f !important;
  font-weight: 700;
}

.navbar .btn {
  border-color: #2f3a2f;
  color: #2f3a2f;
}

.navbar .btn:hover {
  background-color: var(--primary-hover);
}
